div{
    color: red;
}

#name{
    text-decoration: none;
}

svg {
    height: 1.5em;
}

.contenedorContact {
    display: flex;
    align-items: baseline;
    gap: 2em;
    justify-content: space-between;
    color: red;
}



button {
    color: var(--color-text-secondary);
}

a {
    text-decoration: underline;
}

a:hover {
    filter: brightness(70%);
}