div{
    color: red;
}

#star{
    border: none;
    background-color: var(--color-primary-background);
}

svg{
    height: 1.5em;
}

.contenedorContact{
    display: flex;
    align-items: baseline;
    gap: 2em;
}

button {
    color: var(--color-text-secondary);
}

a{
    text-decoration: underline;
}

a:hover{
    filter: brightness(70%);
}