div{
    color: red;
}

.contactOptions{
    display: flex;
    gap: 2em;
    align-items: center;
}

.contenedorContact{
    display: flex;
    align-items: baseline;
    gap: 2em;
}

button {
    color: var(--color-text-secondary);
}

a{
    text-decoration: underline;
}

a:hover{
    filter: brightness(70%);
}