<!-- Toda la parte de nuevo contacto luego irá en una nueva pestaña o en una ventana emergente. A elección. -->
@if(idContact()){
<header>
  <h1>Editar Contacto</h1>
</header>
} @else {
<header>
  <h1>Nuevo Contacto</h1>
</header>
}
<div class="containerCenter">
  <form (ngSubmit)="handleFormSubmission(newContactForm)" #newContactForm="ngForm">
    <div class="contenedorInput">
      <label for="first-name">Nombre*</label>
      <input class="inputPrimario" id="first-name" name="firstName" type="text" ngModel required="true" minlength="2"
        maxlength="20" #firstName="ngModel">
      @if (firstName.dirty && firstName.invalid) {
      <pre class="error">El nombre es obligatorio y
  no puede ser una sola letra</pre>
      }
    </div>
    <div class="contenedorInput">
      <label for="last-name">Apellido</label>
      <input class="inputPrimario" id="last-name" name="lastName" type="text" ngModel maxlength="20">
    </div>
    <div class="contenedorInput">
      <label for="phone">Telefono*</label>
      <input class="inputPrimario" id="phone" name="number" type="text" ngModel required="true" minlength="3"
        maxlength="30">
    </div>
    <div class="contenedorInput">
      <label for="email">Email</label>
      <input class="inputPrimario" id="email" name="email" type="email" ngModel maxlength="40">
    </div>
    <div class="contenedorInput">
      <label for="favourite">Favorito</label>
      <input class="inputPrimario" id="favourite" name="isFavourite" type="checkbox" ngModel>
    </div>
    <div class="contenedorInput">
      <label for="address">Direccion</label>
      <input class="inputPrimario" id="address" name="address" type="text" ngModel minlength="5">
    </div>
    <div class="contenedorInput">
      <label for="company">Companía</label>
      <input class="inputPrimario" id="company" name="company" type="text" ngModel minlength="2">
    </div>
    <div class="contenedorInput">
      <label for="image">URL Imagen</label>
      <input class="inputPrimario" id="image" name="image" type="text" ngModel minlength="10">
    </div>
    @if (errorEnBack) {
    <p class="error">Error indeterminado, intente nuevamente.</p>
    }
    <div class="contenedorInput">
      @if(idContact()){
      <button [disabled]="newContactForm.invalid">Editar</button>
      } @else {
      <button [disabled]="newContactForm.invalid">Agregar</button>
      }
    </div>
  </form>
</div>