.importante{
    background-color: green;
}

input{
    text-align: center;
    border: 3.5px var(--secondary-color) solid;
    border-radius: 6px;
    color: var(--color-text-secondary);
    padding: 5px;
}

button{
    color: black;
}