.contenedorCentrado {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: fit-content;
    margin: auto;
    margin-top: 10%;
    background-color: var(--color-primary);
    border: var(--secondary-color) 0.3em solid;
    border-radius: 0.75em;
    flex-direction: column;
    flex-wrap: nowrap;
}

app-contact-list-item {
    word-wrap: break-word;
    padding: 0.5em;
}

table {
    width: 100%;
    overflow: auto;
}

#wrapper {
    max-height: 923px;
    min-height: fit-content;
}

td:hover {
    filter: brightness(150%);
}

tr:nth-child(even) {
    background-color: var(--color-primary);
}