#leftBar {
	background-color: var(--color-primary);
	border-right: 5px var(--secondary-color) solid;
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: fit-content;
	height: 100%;
	position: fixed;
	overflow-x: hidden;
	width: 170px;
	justify-content: space-evenly;

	div {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}

svg:hover {
	transform: scale(1.2);
	filter: brightness(75%);
	transition-duration: 200ms;
}

svg {
	height: 3.5em;
	color: red;
	transform: scale(1);
	transition: transform 200ms;
}

a {
	display: flex;
	flex-direction: column;
}

button {
	color: var(--color-text);
	background: var(--color-secondary-background);
	border: none;
	margin: 0;
	padding: 0;
}